<div class="col-lg-12 text-center">
    <div class="row">
        <div class="alert alert-danger" role="alert"><strong>Atenção:</strong> <%= _locals.error %></div>
    </div>
    
    <div class="row">
        <img src="/assets/imgs/error.jpg" class="img-rounded text-center" alt="Lambda Creator">
    </div>
</div>