<div class="col-lg-12 text-center">
    <div class="row">
        <div class="alert alert-success" role="alert"><strong>Legal:</strong> <%= _locals.success %> <strong>/development/projects/developer/developer-microservices/NodeJs/</strong> </div>
    </div>
    
    <div class="row">
        <img src="/assets/imgs/success.png" width="400" class="img-rounded text-center" alt="developer">
    </div>
</div>