    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Documentação</h3>
            </div>
            <div class="panel-body">
                <h3>Criação do Lambda</h3>
                    <ul>
                        <li>
                            Caso queira ver os lambdas criados, por favor, <a href="/lista-lambdas">clique aqui</a>.
                        </li>
                        <li>
                                Caso queira saber como ficará o Lambda. Acesse o Skelleton: <a target="_blank" href="https://github.com/michaeldouglas/lambda-microservices-skeleton">Clicando aqui</a>.
                        </li>
                        <li>
                            Para criar um novo Lambda você deverá preencher o formulário: <a href="/criar-lambda">Criar Lambda</a>
                        </li>
                        <li>
                            Após criar o Lambda lembre-se de: Instalar os pacotes que serão utilizados e criar o deploy no Container de deploy.
                        </li>
                        <li>
                            Qualquer dúvida é só perguntar: <strong>michaeldouglas010790@gmail.com</strong>
                        </li>
                        <li>
                            <div class="alert alert-danger" role="alert"><strong>Lista de TODO:</strong>
                                <ul>
                                    <li>Terminar lógica do Jenkins. Atualmente ele já sobe a partir de instalador. Porém ainda não está com os Jobs padrões a partir da criação do instalador de lambda.</li>
                                    <li>Ajustar terminal TTY Nodejs para rodar o lambda local pelo criador de lambda.</li>
                                </ul>
                            </div>
                        </li>
                    <ul>
            </div>
        </div>
    </div>

    <script src="/assets/js/app.min.js"></script>